<configuration>
    <appender name="APPLICATIONINSIGHTS" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{service_provider},%X{debtor}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATIONINSIGHTS" />
    </root>
</configuration>